{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

    <div class="register-form">    
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Register</h1>
        
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {'attr':{'class':'form form-control'}}) }}
            {{ form_row(registrationForm.fullName, {'attr':{'class':'form form-control'}}) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password', 'attr':{'class':'form form-control'}
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-block">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}

{% block footer %}{% endblock %}
